@tailwind base;
@tailwind components;
@tailwind utilities;



.heroContainer{
  width: 50vw;
  height: 50vh;
}

[class="0"] {
  color: red;
  height: 100vh;
}
[class="1"] {
  color: blue;
}
[class="2"] {
  color: red;
}
[class="3"] {
  color: red;
}
[class="4"] {
  color: red;
}

