@tailwind base;
@tailwind components;
@tailwind utilities;

[class="0"] {
  color: red;
}
[class="1"] {
  color: blue;
}
[class="2"] {
  color: red;
}
[class="3"] {
  color: red;
}
[class="4"] {
  color: red;
}

